 ### Exercice 1

In [1]:
import numpy as np
import pandas as pd
ar = np.array([['Doudou', 10,75, 4.5,'M'], ['Amy', 15, 123, 5.0,'F'],
               ['Moussa', 20, 239, 6.1,'M']])
df1 = pd.DataFrame(ar, columns = ['Nom', 'Age', 'Poids','Taille','Genre'])
print(df1)

      Nom Age Poids Taille Genre
0  Doudou  10    75    4.5     M
1     Amy  15   123    5.0     F
2  Moussa  20   239    6.1     M

In [2]:
a=np.array([[12,22],[20,19]])
df2=pd.DataFrame(a,index=['an1','an2'],columns=['Vaches','Chevres'])
print(df2)

     Vaches  Chevres
an1      12       22
an2      20       19

In [3]:
df2.to_csv('vache_chevre.csv')

In [4]:
R=pd.read_csv("vache_chevre.csv",index_col=0)
print(R)

     Vaches  Chevres
an1      12       22
an2      20       19

### Exercice 2

#### 1. Importer le fichier boissons_evaluees.csv.

In [5]:
b=pd.read_csv('boissons_evaluees.csv',index_col=0)

#### 2. Quelle est la médiane de la colonne points dans le DataFrame boisson ?

In [6]:
b.points.describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

##### la reponse est donc 88

In [7]:
# Une autre methode pour determiner la mediane
import statistics as sta
print("La mediane est:",sta.median(b.points))

La mediane est: 88

#### 3. Quels sont les pays représentés dans l’ensemble de données ? (Votre réponse ne doit pas comporter de doublons).

In [8]:
b.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

##### 4. À quelle fréquence chaque pays figure-t-il dans l’ensemble des données ? Créez une Series de boisson_par_pays en faisant correspondre les pays au nombre de critiques de boisson de ce pays.

In [9]:
b.country.value_counts()/len(b)# Calcule de frequence par sa formule.

US                        0.419355
France                    0.169984
Italy                     0.150341
Spain                     0.051127
Portugal                  0.043787
Chile                     0.034408
Argentina                 0.029237
Austria                   0.025737
Australia                 0.017919
Germany                   0.016658
New Zealand               0.010918
South Africa              0.010779
Israel                    0.003885
Greece                    0.003585
Canada                    0.001977
Hungary                   0.001123
Bulgaria                  0.001085
Romania                   0.000923
Uruguay                   0.000839
Turkey                    0.000692
Slovenia                  0.000669
Georgia                   0.000662
England                   0.000569
Croatia                   0.000562
Mexico                    0.000539
Moldova                   0.000454
Brazil                    0.000400
Lebanon                   0.000269
Morocco                   0.000215
Peru                      0.000123
Ukraine                   0.000108
Czech Republic            0.000092
Serbia                    0.000092
Macedonia                 0.000092
Cyprus                    0.000085
India                     0.000069
Switzerland               0.000054
Luxembourg                0.000046
Bosnia and Herzegovina    0.000015
Armenia                   0.000015
Egypt                     0.000008
Slovakia                  0.000008
China                     0.000008
Name: country, dtype: float64

In [10]:
ab=b.groupby('country').points.unique()
boisson_par_pays=pd.DataFrame(ab).points.map(lambda t: len(t))
boisson_par_pays

country
Argentina                 18
Armenia                    2
Australia                 21
Austria                   17
Bosnia and Herzegovina     2
Brazil                    10
Bulgaria                  11
Canada                    13
Chile                     16
China                      1
Croatia                   11
Cyprus                     4
Czech Republic             5
Egypt                      1
England                    7
France                    21
Georgia                   10
Germany                   18
Greece                    12
Hungary                   16
India                      6
Israel                    15
Italy                     21
Lebanon                   10
Luxembourg                 3
Macedonia                  6
Mexico                    13
Moldova                   10
Morocco                    8
New Zealand               16
Peru                       7
Portugal                  21
Romania                   10
Serbia                     4
Slovakia                   1
Slovenia                  11
South Africa              14
Spain                     19
Switzerland                3
Turkey                     9
US                        21
Ukraine                    6
Uruguay                   13
Name: points, dtype: int64

#### 5. Créez la variable prix_centre contenant une version de la colonne price avec le prix moyen soustrait. (Remarque : cette transformation de « centrage » est une étape de prétraitement courante avant l’application de divers algorithmes de Machine Learning).

In [11]:
e=np.nanmean(b.price)
prix_centre=b.price.map(lambda p: p - e)
prix_centre

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

6. Je suis un acheteur de boisson. Quelle boisson est la meilleure affaire ? Créez une variable boisson_negociee avec le titre de la boisson ayant le meilleur rapport qualité/prix dans l’ensemble de données.

In [12]:
boisson_negociee=b.points/b.price
i=np.where(boisson_negociee.values==boisson_negociee.max())
print("Voici les meilleures boissons en rapport qualité prix et tout les details necessaires.")
b.loc[i]

Voici les meilleures boissons en rapport qualité prix et tout les details necessaires.

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
64590,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit
126096,Romania,Notes of sun-dried hay and green flower highli...,UnWineD,86,4.0,Viile Timisului,NaN,NaN,Anna Lee C. Iijima,NaN,Cramele Recas 2011 UnWineD Pinot Grigio (Viile...,Pinot Grigio,Cramele Recas

### Exercice 3

#### 1. Quels sont les critiques de boisson les plus fréquentes dans l’ensemble des données ? Créez une Series dont l’index est la catégorie taster_twitter_handle de l’ensemble de données, et dont les valeurs comptent le nombre de critiques que chaque personne a rédigées.

In [13]:
b.groupby('taster_twitter_handle').points.unique().map(lambda t:len(t))

taster_twitter_handle
@AnneInVino         17
@JoeCz              21
@bkfiona             7
@gordone_cellars    18
@kerinokeefe        21
@laurbuzz           15
@mattkettmann       17
@paulgwine          21
@suskostrzewa       15
@vboone             20
@vossroger          21
@wawinereport       18
@wineschach         19
@winewchristina      4
@worldwineguys      16
Name: points, dtype: int64

#### 2. Quelle est la meilleure boisson que je puisse acheter pour une somme donnée ? Créez une Series dont l’indice est le prix de la boisson et dont la valeur est le nombre maximum de points qu’une boisson coûtant le même prix a obtenu dans une critique2. Quelle est la meilleure boisson que je puisse acheter pour une somme donnée ? Créez unecrit

In [14]:
c=b.insert(3,'qualite_prix',b.points/b.price)

In [15]:
while True:
    try:
        somme=int(input("Entrez la somme:"))
        assert somme>=b.price.min()
        break
    except AssertionError:
        print("Oups,le prix minimum des boissons est: 4 Dollar")
    except ValueError:
        print("Vous avez mal saisi veuillez recommencez et saisir un entier!")
indice_prix=list(np.where(b.price<=somme))
k=list(indice_prix[0][:])# liste des indices des boissons candidats.
df_prix_candidat=b.loc[k]# DataFrame qui contient les boissons candidats et leurs indices selon la somme saisie.
e=list(np.where(df_prix_candidat.qualite_prix==df_prix_candidat.qualite_prix.max()))# Liste des indices des boissons 
#ayant le meilleur rapport qualité prix dans df_pr2ix_candidat
g=df_prix_candidat.index[list(e[0])]# L'indice de ses memes boissons dans le DataFrame b(boisson initial).
print("Voici la liste des boissons que l'on vous suggere et les details.\nBon choix!")
df_prix_candidat.loc[g]

Entrez la somme:50
Voici la liste des boissons que l'on vous suggere et les details.
Bon choix!

,country,description,designation,qualite_prix,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
64590,US,"There's a lot going on in this Merlot, which i...",NaN,21.5,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit
126096,Romania,Notes of sun-dried hay and green flower highli...,UnWineD,21.5,86,4.0,Viile Timisului,NaN,NaN,Anna Lee C. Iijima,NaN,Cramele Recas 2011 UnWineD Pinot Grigio (Viile...,Pinot Grigio,Cramele Recas

In [16]:
b.groupby('price').points.max().sort_values()

price
4.0        86
5.0        87
790.0      87
181.0      88
3300.0     88
         ...
617.0     100
450.0     100
650.0     100
460.0     100
150.0     100
Name: points, Length: 390, dtype: int64

#### 3. Quels sont les prix minimum et maximum pour chaque cépage (variety) de boisson ? Créez un DataFrame dont l’indice est la catégorie variety de l’ensemble de données et dont les valeurs sont les valeurs min et max de celui-ci.

In [17]:
mini=b.groupby('variety').price.min()
print("les prix minimums sont:\n",mini)
print("---------------------------------------------------------------------")
maxi=b.groupby('variety').price.max()
print("les prix maximums sont:\n",maxi)

les prix minimums sont:
 variety
Abouriou       15.0
Agiorgitiko    10.0
Aglianico       6.0
Aidani         27.0
Airen           8.0
               ...
Zinfandel       5.0
Zlahtina       13.0
Zweigelt        9.0
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64
---------------------------------------------------------------------
les prix maximums sont:
 variety
Abouriou        75.0
Agiorgitiko     66.0
Aglianico      180.0
Aidani          27.0
Airen           10.0
               ...
Zinfandel      100.0
Zlahtina        16.0
Zweigelt        70.0
Çalkarası       19.0
Žilavka         15.0
Name: price, Length: 707, dtype: float64

In [18]:
pd.DataFrame({'min':mini,'max':maxi})

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

#### 4. Créer une Series dont l’indice est celui des « commentateurs » et dont la valeur est la note moyenne de l’examen donné par ce « commentateur ». Astuce : vous aurez besoin des colonnes taster_name et points.

In [19]:
b.groupby('taster_name').points.mean()

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

#### 5. Quel est le type de données de la colonne points dans l’ensemble de données ?

In [20]:
b.points.dtype

dtype('int64')

#### 6. Parfois, la colonne price est nulle. A combien d’avis dans l’ensemble de données manque-t-il un prix ?

In [21]:
print("Il manque",len(b[pd.isnull(b.price)]),"valeurs au niveau de la colone price")

Il manque 8996 valeurs au niveau de la colone price